.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.icon {
  width: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text-link {
  text-decoration: none;
  color: black;
}

* {
  margin-top: 0;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
}

.text-area {
  font-size: 20pt;

  color: black;
}

.tutorial-image {
  max-height: 200px;
  max-width: 200px;
}
