.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.icon {
  width: 5rem;
}

.mic-btn {
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 100;
  background: none;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text-link {
  text-decoration: none;
  color: black;
}

* {
  margin-top: 0;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
}

.center {
  text-align: center;
}

.text-area {
  height: 40vh;
  width: 80vw;
  font-size: 16pt;
  color: black;
  position: relative;
}

/* .speakForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

.textContainer {
  position: relative;
}
.write-link {
  display: flex;
}
/* .type-link {
  margin: 0.5rem;
}
.write-icon {
  margin: 0.5rem;
  width: 5rem;
} */
/* 
.content {
  height: 40vh;
  width: 80vw;
  font-size: 16pt;
  color: black;
  position: relative;
  background-color: white;
} */

@media (min-width: 1025px) and (max-width: 1280px) {
  .text-area {
    height: 40vh;
    width: 40vw;
    font-size: 20pt;
  }
}

.tutorial-image {
  max-height: 200px;
  max-width: 200px;
}
